html    {
    height: 100%;
}

body {
    background-color: #3E2411;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #804012;
    height: 70px;
    padding: 0 5px;
    box-shadow: 0 -6px 20px 5px black;
    display: flex;
    align-items: center;
}

a{
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    margin-left: 20px;
}

a:hover {
    transition: 0.4s;
    cursor: pointer;
    color: #fd9516;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
    color: #E6AE86;
}

.padding    {
    margin-left: 20px;
}

footer  {
    background-color: #804012;
    margin-top: auto;
    height: 70px;
    padding: 0 5px;
}

.footer-links   {
    list-style-type: none;
    padding: 0;
}

h1{
    cursor: default;
}

.letterchange:hover {
    color: white;
    transition: 0.1s;
    cursor: default;
}

.letterchange:not(:hover){
    transition: 0.8s;
}