body {
    background-color: #3E2411;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #804012;
    height: 70px;
    padding: 0 5px;
    box-shadow: 0 -6px 20px 5px black;
    display: flex;
    align-items: center;
}

nav a{
    background-color: transparent;
    border-color: transparent;
    color: #E6AE86;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover{
    transition: 0.4s;
    cursor: pointer;
    color: #fd9516;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
    color: #E6AE86;
}

.padding    {
    margin-left: 20px;
}